10_FractionCalculator/FractionCalculator/jFractCalc/xml-resources/web-service-references/FractWebService/wsdl/localhost_8080/FractCalcService/FractWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://peter.ubaya.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://peter.ubaya.com/">

<xs:element name="Add" type="tns:Add"/>

<xs:element name="AddResponse" type="tns:AddResponse"/>

<xs:element name="Division" type="tns:Division"/>

<xs:element name="DivisionResponse" type="tns:DivisionResponse"/>

<xs:element name="Multiply" type="tns:Multiply"/>

<xs:element name="MultiplyResponse" type="tns:MultiplyResponse"/>

<xs:element name="Substract" type="tns:Substract"/>

<xs:element name="SubstractResponse" type="tns:SubstractResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="Substract">
<xs:sequence>
<xs:element name="num1" type="xs:int"/>
<xs:element name="den1" type="xs:int"/>
<xs:element name="num2" type="xs:int"/>
<xs:element name="den2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SubstractResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Add">
<xs:sequence>
<xs:element name="num1" type="xs:int"/>
<xs:element name="den1" type="xs:int"/>
<xs:element name="num2" type="xs:int"/>
<xs:element name="den2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AddResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Multiply">
<xs:sequence>
<xs:element name="num1" type="xs:int"/>
<xs:element name="den1" type="xs:int"/>
<xs:element name="num2" type="xs:int"/>
<xs:element name="den2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MultiplyResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Division">
<xs:sequence>
<xs:element name="num1" type="xs:int"/>
<xs:element name="den1" type="xs:int"/>
<xs:element name="num2" type="xs:int"/>
<xs:element name="den2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DivisionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>