10_FractionCalculator/FractionCalculator/jFractCalc/src/META-INF/wsdl/localhost_8080/FractCalcService/FractWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://peter.ubaya.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://peter.ubaya.com/" name="FractWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://peter.ubaya.com/" schemaLocation="http://localhost:8080/FractCalcService/FractWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="Substract">
<part name="parameters" element="tns:Substract"/>
</message>
<message name="SubstractResponse">
<part name="parameters" element="tns:SubstractResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="Division">
<part name="parameters" element="tns:Division"/>
</message>
<message name="DivisionResponse">
<part name="parameters" element="tns:DivisionResponse"/>
</message>
<message name="Multiply">
<part name="parameters" element="tns:Multiply"/>
</message>
<message name="MultiplyResponse">
<part name="parameters" element="tns:MultiplyResponse"/>
</message>
<message name="Add">
<part name="parameters" element="tns:Add"/>
</message>
<message name="AddResponse">
<part name="parameters" element="tns:AddResponse"/>
</message>
<portType name="FractWebService">
<operation name="Substract">
<input wsam:Action="http://peter.ubaya.com/FractWebService/SubstractRequest" message="tns:Substract"/>
<output wsam:Action="http://peter.ubaya.com/FractWebService/SubstractResponse" message="tns:SubstractResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://peter.ubaya.com/FractWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://peter.ubaya.com/FractWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="Division">
<input wsam:Action="http://peter.ubaya.com/FractWebService/DivisionRequest" message="tns:Division"/>
<output wsam:Action="http://peter.ubaya.com/FractWebService/DivisionResponse" message="tns:DivisionResponse"/>
</operation>
<operation name="Multiply">
<input wsam:Action="http://peter.ubaya.com/FractWebService/MultiplyRequest" message="tns:Multiply"/>
<output wsam:Action="http://peter.ubaya.com/FractWebService/MultiplyResponse" message="tns:MultiplyResponse"/>
</operation>
<operation name="Add">
<input wsam:Action="http://peter.ubaya.com/FractWebService/AddRequest" message="tns:Add"/>
<output wsam:Action="http://peter.ubaya.com/FractWebService/AddResponse" message="tns:AddResponse"/>
</operation>
</portType>
<binding name="FractWebServicePortBinding" type="tns:FractWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Substract">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Division">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Multiply">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FractWebService">
<port name="FractWebServicePort" binding="tns:FractWebServicePortBinding">
<soap:address location="http://localhost:8080/FractCalcService/FractWebService"/>
</port>
</service>
</definitions>